*.iml
.gradle
/local.properties
/android/.idea/caches/build_file_checksums.ser
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/android/.idea
/java/out
/java/.idea

/plugin/out
/plugin/.idea
/plugin/build
